.twa-banner {
    height: 4em;
    width: 100%;
    margin-bottom: 30px;
    background-image: url(../assets/twa_background.webp);
    background-position: left center;
    background-color: #B3CAE5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    animation: moveBackground 18s linear infinite;

    .twa-banner-text {
        * {
            font-family: 'Minecraftia', Arial, Helvetica, sans-serif;
        }
    }

    .twa-banner-text {
        font-family: 'Minecraftia', Arial, Helvetica, sans-serif;
        font-weight: normal;
        font-style: normal;
        color: black;
        text-decoration: none;
        margin-right: 30px;
        font-size: auto;
        padding-left: 0.5rem;
        text-shadow: rgb(0, 0, 0, 0.4) 3px 3px 10px;
    }

    img {
        height: 170%;
    }
}

@keyframes moveBackground {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}