:root {
    --main-background: #E5E7EB;
    --dark-main-background: black;
    --text-color: white;
    --dark-text-color: black;
    --container-background: #B3CAE5;
    --dark-container-background: #527caf;
    --addon-color: #7594f0;
}

.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--addon-color);
    transition: 0.5s ease;
}
h1:hover {
    transform: rotateX(80deg);
}