:root {
    --main-background: #E5E7EB;
    --dark-main-background: black;
    --text-color: white;
    --dark-text-color: black;
    --container-background: #B3CAE5;
    --dark-container-background: #527caf;
    --addon-color: #7594f0;
    --modrinth-green: #00d771;
    --modrinth-pink: #ff7474;
}

.title-bar {
    display: grid;
    padding: 1em;
    background-color: var(--container-background);
    width: 100%;
}

.addon-title {
    font-family: "Minecraftia", Arial, Helvetica, sans-serif;
    text-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);
    color: black;
}

.addon-description {
    color: black;
    background-color: var(--container-background);
    margin-bottom: 10px;
}

.addon-icon {
    width: fit-content;
}

.addon-stats {
    display: inline;
}

.downloads-tag {
    background-color: var(--modrinth-green);
    padding: 0.4em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.05);
    color: black;
    margin-left: -0.1em;
}

.likes-tag {
    background-color: var(--modrinth-pink);
    padding: 0.4em;
    border-radius: 1em;
    color: black;
    box-shadow: 0.2em 0.2em 0.5em rgba(0, 0, 0, 0.05);
}

.addon-body-section {
    background-color: var(--container-background);
    padding: 1em;
    color: black;
}

.body-warning {
    font-size: small;
    opacity: 0.7;
    color: black;
}

.debug-info {
    opacity: 0.7;
}

.gallery {
    transition: 0.5s ease;
    background-color: var(--container-background);
    padding: 0.5em;
    text-align: center;

    img {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
}

.gallery-container {
    display: flex;
    align-items: center;
    /* Align buttons and image in the center vertically */
    justify-content: center;
    margin: 20px 0;
    position: relative;
    /* For positioning the buttons */
    max-width: 100%;
}

.gallery img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Adjusting the button positioning */
.back-button,
.forward-button {
    background-color: var(--addon-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 100px;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Ensure text stays on one line */
    transition: 0.2s ease;
}

/* Center the button vertically relative to the image */
.back-button {
    margin-right: 10px;
}

.forward-button {
    margin-left: 10px;
}
.back-button:hover,
.forward-button:hover {
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
/* Disable button styling */
.back-button:disabled,
.forward-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}
.modrinth-addon-button {
    margin-top: 1em;
    transition: 0.1s ease;
}
.modrinth-addon-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
.gallery-image {
    transition: opacity 0.5s ease;
  }
  
  .gallery-image.animating {
    opacity: 0.5;

  }