@import url('https://fonts.cdnfonts.com/css/minecraftia');
.bottom-bar-sitename {
    color: white;
    position: inherit;
    margin-left: 1em;
    margin-top: 1em;
    font-size: 1em;
    font-family: "Minecraftia", Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.bottom-bar-logo {
    margin-top: 1em;
    width: 2em;
    position: relative;
    margin-left: 1em;
    margin-bottom: -1em;
}

.bottom-bar-bug {
    color: white;
    position: inherit;
    margin-left: 1.5em;
    margin-top: -1em;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.bottom-bar {
    height: auto;
    margin-top: 20px;
    width: 100%;
    background-color: black;
    border-top: 1px solid grey;
    box-shadow: 0px -2px 5px rgba($color: grey, $alpha: 0.4);
    display: flex;
    align-items: left;
    justify-content: center;
    /* Center elements horizontally */
    align-self: center;
    gap: 10px;
    flex-direction: column;
    /* Align items vertically */
    text-align: left;
}

.bottom-bar a {
    color: white;
}