:root {
    --main-background: #e5e7eb;
    --dark-main-background: black;
    --text-color: white;
    --dark-text-color: black;
    --container-background: #b3cae5;
    --dark-container-background: #527caf;
    --addon-color: #7594f0;
    --modrinth-green: #00d771;
    --modrinth-pink: #ff7474;
}

.collection {
    background-color: var(--container-background);
    margin-bottom: 1em;
    padding: 1em;
}

.badge {
    background: linear-gradient(150deg, #d08ccb, #c284d3, #a87cd7, #8673db, #6a77e0, #6196e4, #58bee9, #4eeeee);
    color: white;
    padding: 0.3em 0.5em;
    text-align: center;
    border-radius: 10px 10px 10px 0px;
}
.smol-text {
    opacity: 0.7;
    font-size: small;
}
.collection-title {
    color: black;
    opacity: 01;
}
.toggle {
    border: 0;
    border-style: none;
    background-color: var(--addon-color);
    padding: 0.2em 0.3em;
    border-radius: 5px;
}
.download {
    margin-left: 10px;
    border: 0;
    border-style: none;
    background-color: var(--modrinth-green);
    padding: 0.4em 1em;
    border-radius: 10px;
    font-size: small;
}
.download-small {
    margin-left: 10px;
    border: 0;
    border-style: none;
    background-color: var(--modrinth-green);
    padding: 0.2em 1em;
    border-radius: 10px;
    font-size: small;
}
.dark-mode {
    .collection-title {
        color: black;
    }
    .list-items {
        color: black;
    }
}