@import url('https://fonts.cdnfonts.com/css/minecraftia');

:root {
    --main-background: #e5e7eb;
    --dark-main-background: black;
    --text-color: white;
    --dark-text-color: black;
    --container-background: #b3cae5;
    --dark-container-background: #527caf;
    --addon-color: #7594f0;
    --modrinth-green: #00d771;
    --modrinth-pink: #ff7474;
}
.contributor-container {
    padding: 1em;
    display: flex;
    flex-direction: column;

    justify-content: left;

    text-align: left;

    >span {
        font-size: 1em;
    }

    .contributors {
        width: 100%;
    }

    .lazyload-wrapper {
        width: 100%;
        display: grid;
        gap: 0.8em;
        width: 90vw;
        max-width: 80em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        font-size: 2vw;

        * {
            text-decoration: none;
        }

    }

    background-color: #fae279;
}

Card {
    background-color: #B3CAE5;
}

.big-text {
    font-size: xx-large;
    font-weight: bold;
}

.smol-text {
    font-size: 1em;
}

.card-username {
    font-family: "Minecraftia", Arial, Helvetica, sans-serif;
}