@import url('https://fonts.cdnfonts.com/css/minecraftia');
.text {
    font-family:"", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2.3em;
}