h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 0.3em;
}
.show-more {
    padding: 0.5em;
    border-radius: 1.9em;
    background-color: #B3CAE5;
    font-family: "Minecraftia", Arial, Helvetica, sans-serif;
}