.addon-list-container {
    display: flex;
    overflow: hidden;
}
.addon-list-image {
    width: 10em;
    height: auto;
    border-radius: 0.8em;
    margin: 0.5em;
    animation: slideIn 10s infinite linear
}
@keyframes slideIn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Adjust the value based on the width of your images */
    }
}