:root {
    --main-background: #E5E7EB;
    --dark-main-background: black;
    --text-color: white;
    --dark-text-color: black;
    --container-background: #B3CAE5;
    --dark-container-background: #527caf;
}
.dark-mode {
    color: black;
}
.logins {
    display: flex;
    justify-content: center; /* Center the containers horizontally */
    align-items: flex-start; /* Align items to the top */
    gap: 2em; /* Add some space between the containers */
}

.login-container, .oauth-container {
    display: flex;
    background-color: var(--container-background);
    border-radius: 1.9em;
    padding: 2em;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5em;
}

.login-container {
    margin-bottom: 5em; /* Add margin only to the bottom to balance the height */
}

.login-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.input-email, .input-password {
    border-style: none;
    border-radius: 1.9em;
    padding: 0.4em;
    width: 19em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 0.5em;
}

.login-button {
    border-style: none;
    border-radius: 0.9em;
    padding: 0.3em;
    width: 10em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 0.5em;
    background-color: black;
    color: white;
    font-weight: bold;
    transition: linear 0.2s;
}

.login-button:hover {
    cursor: pointer;
    background-color: var(--dark-container-background);
    color: white;
}

.oauth-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0.6em;
}

.oauth {
    background-color: black;
    border-radius: 1.9em;
    width: auto;
    padding: 0.4em;
    color: white;
    display: flex; /* Change from inline-block to flex */
    align-items: center; /* Center the items vertically */
    justify-content: center; /* Center the items horizontally */
    text-align: center;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-bottom: 1em;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3);
}

.oauth-image {
    width: 1.5em;
    margin-right: 0.5em; /* Add some space between the image and the text */
}

.oauth h4 {
    margin: 0; /* Remove any default margin */
    line-height: 1.5em; /* Adjust line-height to match the image size */
    font-weight: bold;
}
.signup {
    margin-top: 0.5em;
}