:root {
    --main-background: #E5E7EB;
    --dark-main-background: black;
    --text-color: white;
    --dark-text-color: black;
    --container-background: #B3CAE5;
    --dark-container-background: #527caf;
}

.what-is-blueprint {
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 2em;
    background-color: var(--container-background);

    img {
        width: 5em;
        display: inline;
    }

    .images {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .lazyload-wrapper {
        display: inline;
        padding: 2px;
    }

    h1 {
        font-weight: bold;
        font-size: 2em;
    }
}

.dark-mode {
    .what-is-blueprint {
        background-color: var(--dark-container-background);
    }
}